---
import Layout from "../../layouts/Layout.astro";
import PlanWizard from "../../components/Planes/PlanWizard";
---

<Layout title="Nuevo Plan de Trabajo | VANTIX">
    <div class="planes-nuevo-wrapper">
        <PlanWizard client:only="react" isPage={true} />
    </div>
</Layout>

<style is:global>
    .planes-nuevo-wrapper {
        animation: fadeIn 0.5s ease-out;
        min-height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>
