#Descripción del proyecto
PROJECT_NAME="Vantix"
API_V1_STR="/api/v1"

# Credenciales de PostgreSQL
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=vantix
POSTGRES_PORT=5432

#Configuraciones de la autenticación
SECRET_KEY="your_secret_key"
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080 # 7 días

# Base de Datos Externa (Upgrade)
EXTERNAL_DB_HOST=your_external_host
EXTERNAL_DB_PORT=your_external_port
EXTERNAL_DB_USER=postgres
EXTERNAL_DB_PASSWORD=your_external_password
EXTERNAL_DB_NAME=your_external_database

# Servidor de Imágenes Remoto
REMOTE_STORAGE_HOST=tu_ip_de_servidor
REMOTE_STORAGE_USER=tu_usuario
REMOTE_STORAGE_PASSWORD=tu_password
REMOTE_STORAGE_PORT=22
REMOTE_STORAGE_BASE_PATH=.
REMOTE_STORAGE_BASE_URL=url_de_tu_servidor
